- model_class = Order
%h2
  Open Orders
.well
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:status)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @orders[:open].each do |order|
        %tr
          %td= order.status.titleize
          %td=order.created_at.strftime("%a %d %b. %Y")
          %td
            = render :partial => "order_actions", :locals => {:order => order}
= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
