.row
  .span8
    %h1
      == Order ##{@order.id}
    %p
      = render :partial => "order_status"
    = render :partial => "new_line_item" unless @order.closed?
  .span4
    .well.sidebar-nav
      %p
        %strong
          Created by
        %span.label.label-info
          %a{:href => "mailto: #{@order.creator.email}"}
            = @order.creator.name
            %i.icon-envelope
        = link_to "Edit order", edit_order_path(@order), :class => 'btn btn-mini btn-primary', :style => "margin-left: 10px;" if @order.owner?(current_user)
      %p
        %strong
          Total Price:
        == £#{@order.total_price}
      %hr
      %h5
        Items
      %hr
      = render :partial => "line_items"
